// YELLOW / ORANGE SCHEME
//$primary-color: #FCD80A;
//$secondary-color: #FC8B0A;

$primary-color: #70DBDB;
$secondary-color: #66CCCC;
$visited-links: #006060;
$tertiary-color: #1F9E9D;
$text-shadow-color: #111111;
$primary-background-color: #222222;
$secondary-background-color: #111111;
$default-text-color: #BBBBBB;
$recent-color: #C9BC0F;

$navpositioner: 35px;
$negnavpositioner: -30px;

body {
	background-color: $primary-background-color;
	font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
	color: $default-text-color;
	height: 100%;
	/*line-height: 150%;*/
}

a {
	color: $primary-color;
	font-weight: bold;
	text-decoration: none;

}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: $visited-links;
  text-shadow: none;
}

a:link {
  text-shadow: 1px 1px $text-shadow-color;
}

h1 {
	font-size: 2.0em;
	font-weight: bold;
	margin-bottom: 25px;
}

#recent {
  color: $recent-color;
}

#recent:visited {
  color: $visited-links;
}

.center {
	margin: 0 auto;
	display: block;
}

.deliverable {
  padding: 5px 0 5px 0;
  text-shadow: none;
}

div.date {
  display: inline-block;
  
  background: $primary-color; /* Old browsers */

  /* border: 1px solid $text-shadow-color; */
  box-shadow: 1px 1px 3px $text-shadow-color;

  border-radius: 0.2em 0.2em 0.2em 0.2em;
  width: 75px;
  margin-right: 20px;
  text-align: center;
  color: $primary-background-color;
  text-shadow: 0 0 0 $text-shadow-color;

  font-size: 1.5em;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;

}

a:visited .date {
  background-color: $visited-links;
}

#greeting {
	text-align: center;
  height: 4em;
	/* padding: 50px 0 30px 0; */
	margin: 0 0 0 0;
  
	border-bottom: 3px solid $secondary-color;
	position: relative;
	font-size: 1em;

  background-color: $secondary-background-color;

  /* border: 1px solid white; */
}

#mainContainer {
  height: 100%;

  border-top: 1px solid #444444;

  overflow: hidden;

}

#mainContent {
	width: 45%;
	float: right;
	display: inline;
	padding: 20px 2% 0 2%;
	font-size: 1.2em;
	line-height: 150%;

  background-color: $primary-background-color;
  border-radius: 0 0 1em 1em;

}

#sidebar {
	width: 45%;
	float: left;
	display: inline;
	padding: 20px 2% 20px 2%;
	font-size: 1.3em;
	line-height: 150%;

  background-color: $primary-background-color;
  border-radius: 0 0 1em 1em;
}

.nonLink {
	font-weight: bold;
}

.nonlink .date {
  font-weight: bold;
}

/* NAVBAR CSS*/

#navbar {
	position: absolute;
	bottom: 1px;
	left: 0;
	width: 39%;
	white-space: nowrap;
	min-width: 240px;
	margin: 0 5% 2px 5%;
	height: $navpositioner;
	font-size: 1.3em;
	font-weight: bold;
	clear: both;

  border-top: solid 1px $secondary-color;

  /* border: 1px solid white; */
}

.navButton {
	width: 33%;
}

#navbar li{
	display: inline-block;
	float: left;
	height: $navpositioner;
	list-style-type: none; /*This disables the list icon*/
	overflow: hidden;
  border-top: solid 2px $primary-color;
}

#navbar li:first-child {
  border-radius: 0 0 0 0;
}

#navbar li:last-child {
  border-radius: 0 0 0 0;
  width: 34%;
}

#navbar li a, #navbar li a:hover, #navbar li a:visited{
	text-decoration: none; /*This removes the link underline for all cases*/
	font-weight: bold;
  text-shadow: none;
}

.inactiveMenu, .inactiveMenu:visited, .hoverMenu, .hoverMenu:visited, .activeMenu,.activeMenu:visited {
	outline: none;
	padding: 5px 0;
	text-align: center;
	display: block;
  text-shadow: none;
}

.hoverMenu, .hoverMenu:visited, .activeMenu, .activeMenu:visited {
    margin-top: $negnavpositioner;
    background: $primary-color; /* Old browsers */
	background: -moz-linear-gradient(top,  $primary-color 0%, $secondary-color 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$secondary-color), color-stop(100%,$secondary-color)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  $primary-color 0%,$secondary-color 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  $primary-color 0%,$secondary-color 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  $primary-color 0%,$secondary-color 100%); /* IE10+ */
	background: linear-gradient(to bottom,  $primary-color 0%,$secondary-color 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$primary-color', endColorstr='$secondary-color',GradientType=0 ); /* IE6-9 */

    color: $secondary-background-color;
}

.activeMenu, .activeMenu:visited{
	margin: 0;
}

.inactiveMenu, .inactiveMenu:visited{
	color: $default-text-color;
	background-color: $secondary-background-color;
	padding: 5px 0;
}


/* SCREEN RESIZING */

@media all and (max-width: 768px) {

	#sidebar {
		position: relative;
		width: 85%;
		float: left;
		padding: 20px 7.5% 0 7.5%;
    border-radius: 0 0 0 0;
    border-top: 1px solid #444444;
	}

	#mainContent {
		float: left;
		width: 95%;
		padding: 20px 0 0 5%;
    border-radius: 0 0 0 0;
    border-bottom: solid 3px $primary-color;
	}


	#navbar {
		width: 85%;
    margin: 0px 30% 2px 10%;
    /* border: solid 1px white; */
		/* padding: 0 0 0 0;

    position: absolute;
    bottom: 3px; */
	}
}