body {
	background-color: #242424;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	color: #D1D1D1;
	height: 100%;
}

a {
	color: #FCD80A;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #FC8B0A;
}

h1 {
	font-size: 2.0em;
	font-weight: bold;
	margin-bottom: 25px;
}

#greeting {
	text-align: center;
	padding: 10px 0 30px 0;
	margin: 20px 20px 20px 20px;
	border-bottom: 1px solid #D1D1D1;
	position: relative;
	font-size: 1em;
}

#mainContent {
	width: 40%;
	float: right;
	display: inline;
	padding: 0 0 20px 0;
	font-size: 1.2em;
/*	border: solid 10px;
	border-color: white;*/
}

#sidebar {
	width: 40%;
	float: left;
	display: inline;
	padding: 0 2% 0 2%;
	font-size: 1.3em;
/*	border: solid 10px;
	border-color: white;*/
}

.nonLink {
	font-weight: bold;
}



/* SCREEN RESIZING */


/*@media all and (max-width: 480px) {

}*/

@media all and (max-width: 700px) {
	#sidebar {
		position: relative;
		width: 90%;
		float: left;
		padding: 0 0 0 0;
		margin-left: 20px;
	}

	#mainContent {
		width: 100%;
		padding: 0 0 0 15%;
		margin-right: -20px;
	}

	#greeting {
		width: 100%;
		margin: 20px 0 20px 0;
	}

}