body {
	background-color: #242424;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	color: #D1D1D1;
	height: 100%;
	font-size: 14px;
}

a {
	color: #FCD80A;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #FC8B0A;
}

h1 {
	font-size: 24pt;
	font-weight: bold;
	margin-bottom: 25px;
}
#navbar {
	position: absolute;
	bottom: 0;
	right: -20px;
	white-space: nowrap;
	min-width: 240px;
	padding: 0 5% 0 3%;
/*		border: solid 10px;
	border-color: white;*/
}

.navButton {
	width: 30%;
}

#greeting {
	text-align: center;
	padding: 10px 0 30px 0;
	margin: 20px 20px 20px 20px;
	border-bottom: 1px solid #D1D1D1;
	position: relative;
}

#mainContent {
	width: 280px;
	float: left;
	display: inline;
	padding: 0 0 20px 5%;
/*	border: solid 10px;
	border-color: white;*/
}

#sidebar {
	width: 220px;
	float: right;
	display: inline;
	padding: 0 5% 0 5%;
/*	border: solid 10px;
	border-color: white;*/
}

.nonLink {
	font-weight: bold;
}



/* NAVBAR CSS*/

ul{
	height: 25px;
	font-size: 14px;
	clear: both;
}

ul li{
	display: inline-block;
	float: left;
	height: 25px;
	list-style-type: none; /*This disables the list icon*/
	overflow: hidden;
	border-bottom: solid 1px #FCD80A;
}

ul li a, ul li a:hover, ul li a:visited{
	text-decoration: none; /*This removes the link underline for all cases*/
	font-weight: normal;
}

.inactiveMenu, .inactiveMenu:visited, .hoverMenu, .hoverMenu:visited, .activeMenu,.activeMenu:visited {
	outline: none;
	padding: 5px 10px;
	display: block;
}

.hoverMenu, .hoverMenu:visited, .activeMenu, .activeMenu:visited {
    margin-top: -25px;
    background: #fc8b0a; /* Old browsers */
	background: -moz-linear-gradient(top,  #fc8b0a 0%, #fcd80a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fc8b0a), color-stop(100%,#fcd80a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fc8b0a 0%,#fcd80a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fc8b0a 0%,#fcd80a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fc8b0a 0%,#fcd80a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fc8b0a 0%,#fcd80a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc8b0a', endColorstr='#fcd80a',GradientType=0 ); /* IE6-9 */

    color: #242424;
}

.activeMenu, .activeMenu:visited{
	margin: 0;
}

.inactiveMenu, .inactiveMenu:visited{
	color: #D1D1D1;
	background-color: #242424;
}

/*@media all and (max-width: 480px) {

}*/

@media all and (max-width: 600px) {
	#sidebar {
		position: relative;
		width: 90%;
		float: left;
		padding: 0 0 0 5%;
		margin-right: 20px;
	}

	#mainContent {
		width: 100%;
	}

	#greeting {
		width: 100%;
		margin: 20px 0 20px 0;
	}

	#navbar {
		width: 100%;
		position: absolute;
		bottom:0;
		/*border: solid 3px black;*/
		margin: 0 -5% 0 -5%;
	}
}