body{
	margin-top: 20px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	color: #D1D1D1;
	height: 100%;
	font-size: 12px;
	background-color: #242424;

}

ul{
	height: 25px;
	font-size: 12px;
}

ul li{
	display: inline-block;
	float: left;
	height: 25px;
	list-style-type: none; /*This disables the list icon*/
	overflow: hidden;
	border-bottom: solid 1px #FCD80A;
}

ul li a, ul li a:hover, ul li a:visited{
	text-decoration: none; /*This removes the link underline for all cases*/
}

.inactiveMenu, .inactiveMenu:visited, .hoverMenu, .hoverMenu:visited, .activeMenu,.activeMenu:visited {
	outline: none;
	padding: 5px 10px;
	display: block;
}

.hoverMenu, .hoverMenu:visited, .activeMenu, .activeMenu:visited {
    margin-top: -25px;
    background: #fc8b0a; /* Old browsers */
	background: -moz-linear-gradient(top,  #fc8b0a 0%, #fcd80a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fc8b0a), color-stop(100%,#fcd80a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fc8b0a 0%,#fcd80a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fc8b0a 0%,#fcd80a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fc8b0a 0%,#fcd80a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fc8b0a 0%,#fcd80a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc8b0a', endColorstr='#fcd80a',GradientType=0 ); /* IE6-9 */

    color: #242424;
}

.activeMenu, .activeMenu:visited{
	margin: 0;
}

.inactiveMenu, .inactiveMenu:visited{
	color: #D1D1D1;
	background-color: #242424;
}