body {
  background-color: #101010;
}

.graduation {
  color: #BBBBBB;
  text-align: center;
  font-size: 5.0em;
  font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
}

#countdown {
}