$primary-color: #70DBDB;
$secondary-color: #66CCCC;
$visited-links: #208080;
$tertiary-color: #1F9E9D;
$text-shadow-color: #111111;
$primary-background-color: #222222;
$secondary-background-color: #111111;
$default-text-color: #BBBBBB;
$recent-color: #C9BC0F;

body {
  width: 100%;
  height: 100%;
}

.star {
/*   width: 3px;
  height: 3px; */
}

#screenContainer {
  width: 100%;
  height: 75%;
  font-size: 2em;
  text-align: center;
  border-radius: 15px;
  background-color: #000000;
  cursor: none;
  overflow: hidden;
}

#easingOptions {
  height: 2em;
  color: $default-text-color;
  font-size: 1em;
  background-color: #050505;
  box-shadow: 2px 2px 2px #000000;
  border: none;
  width: 100%;
}

#optionDiv {
  background-color: $primary-background-color;
  /* border: 3px solid $primary-color; */
  height: 15%;
  text-align: center;
  padding: 2%;
  /* border: solid 1px white; */
}

.optionsDiv {
  display: inline-block;
  width: 20%;
  font-size: 1.5em;
  /* border: solid 1px white; */
  margin: 0 auto;
  background-color: $secondary-background-color;
  box-shadow: 2px 2px 2px #000000;
  padding: 0.5em;
  float: left;
  min-height: 4em;

}

label, select, .colorSelector{
  display: inline-block;
  margin-top: 0.5em;
}

.colorSelector {
  /* position: relative; */
  width: 90%;
  height: 1.5em;
  background-color: #050505;
  display: inline-block;
  text-align: center;
  padding: 0.25em;
  /* padding: 0.5em;*/

  box-shadow: 2px 2px 2px #000000;
  /* margin-left: -36px;
  margin-bottom: -10px; */
}
.colorSelector div {
  text-align: center;
  margin: 0 auto;
  width: 95%;
  height: 1.5em;
  background-color: #333333;
}

#easingOptionsDiv {
}

#sizeRange {
  width: 95%;
  height: 2em;
}

.radioButtons {
  font-size: 0.8em;
}
